---
layout: default
title: About
---

<div class="prose prose-lg mt-10">

    
        <h1 class="text-2xl font-medium text-gray-800 leading-relaxed mt-0 mb-1">
          What We're Reading
        </h1>
<p>Some kind of explanatory text here.</p><p>Someday... if I keep this running more than a week or two.</p>

</div>