---
layout: default
title: About
---

<div class="prose prose-lg mt-10">

    
        <h1 class="text-2xl font-medium text-gray-800 leading-relaxed mt-0 mb-1">
          Notes to Myself
        </h1>

<p>TODO: Fix that front page tag thing. Three from a select set of tags, link to more. Surely this is possible.</p>

{% image "./src/images/last-waltz.jpeg", "last waltz image" %}


</div>